# This is an example .env file for the Discord bot.
# Please copy this file to .env and fill in your Discord bot token.

DISCORD_TOKEN=123456789012345678
OWNER_ID=123456789012345678

# Channels
COMMANDS_CHANNEL_ID=123456789012345678